body {
  background: #000000;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}


@font-face {
  font-family: "Roboto-Black";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cookie";
  src: url("./assets/fonts/Cookie-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #c6c6c6;
  border: none;
}